@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: Ismael Alberto Martinez Lacayo</p>
<p>Edad: 20</p>
<img src="~/img/Avatar.jpeg" style="width:150px; height:150px;" />
<p>Carrera: Ingeniería en Sistemas de la Información</p>